<!DOCTYPE html>
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Payment Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
          rel="stylesheet" />
    
</head>
<body style=" height: 100%; width: 100%; margin: 0; padding: 0; font-family: sans-serif; font-size: 16px; background-color: #F6FCFF;">
    <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%; max-width: 600px; font-size: inherit; margin-top: 40px;">
        <thead>
            <tr>
                <th style="height: 60px; padding: 10px 20px;">
                    <div style="position: relative;">
                        <!-- <img width="200"
                             src="https://res.cloudinary.com/due7xlwsg/image/upload/v1691440010/sytycc_logo.jpg" style="position: absolute;
                        left: 170px; top: -40px;" /> -->

                        <img width="200"
                             src="https://res.cloudinary.com/due7xlwsg/image/upload/v1692346836/Syty_b6tjme.jpg" style="position: absolute;
                        left: 170px; top: -40px;" />
                    </div>

                </th>
            </tr>
        </thead>
        <tbody style="border-top: 3px solid #f37171; background-color: #ffffff; ">
            <tr>
                <td style="font-size: 14px; line-height: 1.8; padding: 10px 20px; text-align: center; position: relative;">
                    Payment Confirmation
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px; line-height: 1.8; padding: 10px 20px">Hello **CustomerName**,</td>
            </tr>
            <tr>
                <td style="font-size: 14px; line-height: 1.8; padding: 10px 20px; text-align: justify;">
                    <p>Thank you for your payment of &pound;**PaymentAmount** for the upcoming **CourseTitle**.</p>
                    <p>We are excited to have you on board for this comprehensive training session, which is scheduled to run from **StartDate** to **EndDate**. The first three weeks will be dedicated to training classes, and the last week will involve interactive exercises and questions to reinforce your learning.</p>
                    <p>The daily sessions will take place from **StartTime** to **EndTime** UK timezone (weekends excluded) and we'll provide you with a virtual meeting link shortly before the session begins.</p>
                    <p>We are committed to providing you with a rewarding and enriching learning experience throughout the training, and we look forward to embarking on this journey with you.</p>
                    <p>Thank you once again for joining us, and if you have any questions or need any assistance before the training starts, feel free to reach out to us.</p>
                    <p>See you on **StartTime** !</p>
                    <p>Best regards,</p>
                    <p>The SYTYCC Team</p>
                </td>
            </tr>
            <tr align="center">
                <td style="font-size: 14px; line-height: 1.8; padding: 10px 20px; color: #8898aa; font-size: 12px;">
                    <p style="width: 90%">
                        You received this mail because you registered for a transition into tech with digital and agile enablement training with Sytycc Co. Please ignore if you did not.
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td align="center" style="font-size: 14px; line-height: 1.8; padding: 10px 20px; ">
                    <address style="font-style: normal;">
                        <p><h4 class="text-gray-500 mb-6 inline-block">Contact Us:</h4></p>
                        <p><a href="tel:+44 7876 042889">+44 7876 042889</a></p>
                        <p><a href="mailto:info@sytycc.co">admin@sytycc.co</a></p>
                    </address>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>